Tipi di Dati e Data Structures
=======================

Che cos'è il "tipo"?
----------------------

Python conosce vari tipi di dati. Per scoprire il tipo di una variabile, utilizzate la funzione `type()`:

In [1]:
a = 45
type(a)

int

In [2]:
b = 'This is a string'
type(b)

str

In [3]:
c = 2 + 1j
type(c)

complex

In [4]:
d = [1, 3, 56]
type(d)

list

Numeri
---------

##### Informazioni ulteriori

-   Un'introduzione informale ai numeri. [Python tutorial, section 3.1.1](http://docs.python.org/tutorial/introduction.html#using-python-as-a-calculator)

-   Python Library Reference: una presentazione formale dei tipi numerici, <http://docs.python.org/library/stdtypes.html#numeric-types-int-float-long-complex>

-   Think Python, [Sec 2.1](http://www.greenteapress.com/thinkpython/html/book003.html)

I tipi numerici built-in sono i numeri interi (integers, int), reali (floating point, float. [floating point numbers](#Floating-Point-numbers)) e complessi ([complex numbers](#Complex-numbers)).

### Numeri interi

Gli interi in Python 3 non sono limitati; Python assegna automaticamente memoria addizionale quanto è necessario quando i numeri diventano grandi. Quindi possiamo fare calcolo con interi molto grandi senza precauzioni particolari.

In [9]:
35**42

70934557307860443711736098025989133248003781773149967193603515625

In molti altri linguaggi di programmazione, come il C o il FORTRAN, gli interi occupano uno spazio fisso di memoria, generalmente 4 bytes, che permette $2^{32}$ differenti valori. Esistono però tipi diversi con dimensioni differenti. Per numeri che rientrano in questi limiti, le operazioni possono essere più veloci, ma è necessario controllare che i numeri non escano dall'intervallo consentito. Utilizzare un numero fuori dai limiti genera un *integer overflow*, e può portare a risultati sorprendenti.

Anche in Python, bisogna fare attenzione a questi aspetti quando si usa numpy (see [Chapter 14](14-numpy.ipynb)). Numpy usa interi di dimensione fissa, perchè ne immagazzina molti in locazioni consecutive di memoria per poter fare i calcoli in modo efficiente. [Numpy data types](http://docs.scipy.org/doc/numpy/user/basics.types.html) include una serie di interi il cui nome riflette le loro dimensioni, così `int16` è un intero di 16-bit, con $2^{16}$ possibili valori.

I tipi interi possono anche essere *signed* o *unsigned*. Signed integers permettono valori sia negativi che positivi, mentre quelli unsigned possono essere solo positivi. Per esempio:

* uint16 (unsigned) va da 0 a $2^{16}-1$
* int16 (signed) va da $-2^{15}$ a $2^{15}-1$

Abbiamo già incontrato gli interi nella [prima lezione](02_Primi_passi.ipynb).

Se dobbiamo convertire una stringa che contiene un intero in un intero possiamo usare la funzione `int()`:

In [5]:
a = '34'       # a è una stringa che contiene i caratteri 3 e 4
x = int(a)     # x è un numero intero

La funzione `int()` converte anche reali in interi:

In [6]:
int(7.0)

7

In [7]:
int(7.9)

7

Notate che `int` tronca qualsiasi parte non intera di un numero reale. Per arrotondare un numero reale all'intero più vicino usate la funzione `round()`:

In [8]:
round(7.9)

8

### Numeri reali

Una stringa contenente un numero floating point può essere convertita in un numero reale usando `float()`:

In [10]:
a = '35.342'
b = float(a)
b

35.342

In [11]:
type(b)

float

Numeri reali in notazione scientifica: $1.3 10^{-4}$ si scrive 1.3e-4.

In [2]:
a = 1.3e-4
b = 3.0e+17
a*b

39000000000000.0

Python, di default, scrive i numeri reali in formato "float". Se vogliamo la risposta in notazione scientifica è necessario chiederlo esplicitamente (Maggiori informazioni più avanti.).

In [3]:
"{0:e}".format(a*b)

'3.900000e+13'

### Numeri complessi

In Python (come in Fortran e Matlab) i numeri complessi sono built-in. Qualche esempio:

In [12]:
x = 1 + 3j
x

(1+3j)

In [13]:
abs(x)               # calcola il valore assoluto

3.1622776601683795

In [14]:
x.imag

3.0

In [15]:
x.real

1.0

In [16]:
x * x

(-8+6j)

In [17]:
x * x.conjugate()

(10+0j)

In [18]:
3 * x

(3+9j)

Per eseguire operazioni più complicate (come fare radici quadrate di numeri complessi etc) è nessario usare il modulo `cmath` (Complex MATHematics):

In [19]:
import cmath
cmath.sqrt(x)

(1.442615274452683+1.0397782600555705j)

### Funzioni che si  applicano a tutti i tipi di numeri

La funzione `abs()`  restituisce il valore assoluto o modulo di un numero:

In [20]:
a = -45.463
abs(a)

45.463

`abs()` funziona anche per numeri complessi.

In [1]:
abs(1 + 2j)

2.23606797749979

In [2]:
_*_

5.000000000000001

Sequenze
-----------

Stringhe, liste e ntuple (tuples) sono *sequenze*. Possono essere *indicizzate* e *sezionate* (*sliced*) nello stesso modo.

Tuples e stringhe sono “immutable” (fondamentalmente significa che non è possibile cambiare i singoli elementi in una ntupla, e non possiamo modificare i singoli caratteri all'interno di una stringa) mentre le liste sono “mutable” (cioè possiamo cambiare gli elementi di una lista.)

Le sequenze condividono le operazioni seguenti

<table>
<tr><td>`a[i]`</td><td>restituisce l'*i*-esimo elemento di `a`</td></tr>
<tr><td>`a[i:j]`</td><td>restituisce gli elementi da *i* fino a *j* − 1</td></tr>
<tr><td>`len(a)`</td><td>restituisce il numero di elementi nella sequenza</td></tr>
<tr><td>`min(a)`</td><td>restituisce il valore più piccolo della sequenza</td></tr>
<tr><td>`max(a)`</td><td>restituisce il valore più grande nella sequenza</td></tr>
<tr><td>`x in a`</td><td>restituisce `True` se `x` è un elemento di `a`</td></tr>
<tr><td>`a + b`</td><td>concatena `a` e `b`</td></tr>
<tr><td>`n * a`</td><td>crea `n` copie della sequenza `a`</td></tr>
</table>

### Stringhe

##### Informazioni ulteriori

-   Introduzione alle stringhe, [Python tutorial 3.1.2](http://docs.python.org/tutorial/introduction.html#strings)

Una stringa è una sequenza (immutable) di caratteri. Una stringa può essere definita usando single quotes:

In [21]:
a = 'Hello World'

double quotes:

In [22]:
a = "Hello World"

oppure triple quotes di entrambi i tipi

In [23]:
a = """Hello World"""
a = '''Hello World'''

Il tipo di una stringa è `str` e la stringa vuota è `""`:

In [24]:
a = "Hello World"
type(a)

str

In [25]:
b = ""
type(b)

str

In [26]:
type("Hello World")

str

In [27]:
type("")

str

Il numero di caratteri in una stringa (la sua *lunghezza*) si ottiene con la funzione `len()`:

In [28]:
a = "Hello Moon"
len(a)

10

In [29]:
a = 'test'
len(a)

4

In [30]:
len('another test')

12

Si possono combinare (“concatenare”) due stringhe usando l'operatore `+`:

In [31]:
'Hello ' + 'World'

'Hello World'

Le stringhe possiedono parecchi metodi utili, per esempio `upper()` che restituisce la stringa maiuscola:

In [2]:
a = "This is a test sentence."
a.upper()

'THIS IS A TEST SENTENCE.'

Notate l'uso diverso di un metodo (legato a una *classe*):<br/>
- var.method()

rispetto a una funzione:<br/>
- funzione(var)

L'elenco dei metodi disponibili per le stringhe può essere trovata nella documentazione di Python. Al prompt di Python oppure in un notebook, si possono usare le funzioni `dir` e `help` per ottenere queste informazioni: `dir()` fornisca una lista dei metodi, `help` descrive più dettagliatamente ciascun metodo.

Un metodo particolarmente utile è `split()` che converte una stringa in una lista di stringhe:

In [33]:
a = "This is a test sentence."
a.split()

['This', 'is', 'a', 'test', 'sentence.']

Il meodo `split()` divide le stringhe dove trova *white space*. White space significa qualsiasi carattere che viene stampato come spazio bianco, come uno spazio oppure più spazi consecutivi oppure il carattere tab.

È possibile passare una "separator string" a `split()`, spezzando la stringa originaria sulls stringa di separazione (che viene eliminata). Per esempio,
per avere una lista di frasi complete si potrebbe usare il punto "." come separatore:

In [34]:
a = "The dog is hungry. The cat is bored. The snake is awake."
a.split(".")

['The dog is hungry', ' The cat is bored', ' The snake is awake', '']

Oppure:

In [1]:
a = "Pippo(--)Pluto(--)Paperino"
a.split("(--)")

['Pippo', 'Pluto', 'Paperino']

Il metodo opposto per le stringhe è `join` che si usa come segue:

In [3]:
a = "The dog is hungry. The cat is bored. The snake is awake."
s = a.split('.')
s

['The dog is hungry', ' The cat is bored', ' The snake is awake', '']

In [4]:
".".join(s)

'The dog is hungry. The cat is bored. The snake is awake.'

In [5]:
" STOP".join(s)     # Si noti che la stringa comincia con uno spazio. 
                    # Uno spazio dopo il separatore viene aggiunto da Python.

'The dog is hungry STOP The cat is bored STOP The snake is awake STOP'

### Liste

##### Informationi ulteriori

-   Introduzione alle Liste, [Python tutorial, section 3.1.4](http://docs.python.org/tutorial/introduction.html#lists)

Una liste è una sequenza di oggetti. Gli  oggetti possono essere di qulsiasi tipo, per esempi numeri interi:

In [38]:
a = [34, 12, 54]

o stringhe:

In [39]:
a = ['dog', 'cat', 'mouse']

Una lista vuota è rappresentata da `[]`:

In [40]:
a = []

Il tipo è `list`:

In [41]:
type(a)

list

In [42]:
type([])

list

Come per le stringhe, il numero di elementi in una lista può essere trovato con la funzione`len()`:

In [43]:
a = ['dog', 'cat', 'mouse']
len(a)

3

È anche possibile *mescolare* tipi diversi nella stessa lista:

In [44]:
a = [123, 'duck', -42, 17, 0, 'elephant']

In Python una lista è un oggetto. È quindi possibile che una lista contenga delle altre liste perchè una list contiene una sequenza di oggetti:

In [45]:
a = [1, 4, 56, [5, 3, 1], 300, 400]

Si possono combinare (“concatenare”) due liste usando l'operatore `+`:

In [46]:
[3, 4, 5] + [34, 35, 100]

[3, 4, 5, 34, 35, 100]

Si può aggiungere un oggetto al fondo di una lista con il metodo `append()`:

In [47]:
a = [34, 56, 23]
a.append(42)
a

[34, 56, 23, 42]

Si può eliminare un oggetto da una lista chiamando il metodo `remove()` e passandogli l'oggetto da eliminare. Per esempio:

In [48]:
a = [34, 56, 23, 42]
a.remove(56)
a

[34, 23, 42]

Notate che un metodo può modificare una stringa, anche se è un oggetto immutabile.

#### Il comando range()

Il comando `range(n)` genera la lista degli interi da 0 fino a *n-1* (attenzione!), un tipo speciale di lista, che è spesso necessaria. Alcuni esempi:

In [49]:
list(range(3))

[0, 1, 2]

In [50]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Questo comando si usa spesso con i `for loops`. Per esempio, per stampare i numeri 0<sup>2</sup>,1<sup>2</sup>,2<sup>2</sup>,3<sup>2</sup>,…,10<sup>2</sup>, si può usare il codice seguente:

In [51]:
for i in range(11):
    print(i ** 2)

0
1
4
9
16
25
36
49
64
81
100

Il comando range prende un parametro opzionale per l'inizio della sequenza di interi  (start) e un altro parametro opzionale per il *passo* (*step*). Spesso si scrive `range([start],stop,[step])` dove gli argomenti in parentesi quadrate (square brackets) (cioè start e step) sono opzionali. Alcuni esempi:

In [52]:
list(range(3, 10))            # start=3

[3, 4, 5, 6, 7, 8, 9]

In [53]:
list(range(3, 10, 2))         # start=3, step=2

[3, 5, 7, 9]

In [54]:
list(range(10, 0, -1))        # start=10,step=-1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Perchè usiamo `list(range())`?

In Python 3, `range()` genera i numeri on demand. Quando si usa `range()` in un for loop, questo è più efficiente, perchè non occupa memoria con una lista di numeri. Passare il comando `range()` a `list()` lo forza a generare immediatamente tutti i numeri.

### Tuples

A *ntupla* (*tuple*) è una sequenza (immutable) di oggetti. Le ntuple si comportano in modo molto simile alle liste con l'eccezione che non possono essere modificate.

Per esempio, qualunque tipo di oggetto vi può comparire:

In [55]:
a = (12, 13, 'dog')
a

(12, 13, 'dog')

In [56]:
a[0]

12

Le parentesi non sono necessarie per definire una tuple: una sequenza di oggetti separati da virgole è sufficiente a definire una tuple:

In [57]:
a = 100, 200, 'duck'
a

(100, 200, 'duck')

benchè sia buona pratica includere le parantesi per una magiore leggibilità.

Tuples possono anche essere usate per assegnare due valori contemporameamente:

In [58]:
x, y = 10, 20
x

10

In [59]:
y

20

Possono essere usate per scambiare due oggetti in una sola riga di codice. Per esempio:

In [60]:
x = 1
y = 2
x, y = y, x
x

2

In [61]:
y

1

La ntupla vuota è `()`.

In [62]:
t = ()
len(t)

0

In [63]:
type(t)

tuple

La notazione per una ntupla contenente un solo valore può, all'inizio, sembrare un po' strana:

In [64]:
t = (42,)
type(t)

tuple

In [65]:
len(t)

1

La virgola addizionale è necessaria per distinguere `(42,)` da `(42)`. Nel secondo caso le parentesi indicherebbero solo l'ordine di precedenza delle operazioni: `(42)` si semplifica a `42` che è semplicemente un numero:

In [66]:
t = (42)
type(t)

int

Un esempio dell'immutabilità di una tuple:

In [67]:
a = (12, 13, 'dog')
a[0]

12

In [68]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

L'immutabilità è la differenza principale fra una tuple e una list (che è mutable). Le tuples vengono utilizzate quando non si vuole che il contenuto venga modificato.

Le funzioni Python che ritornano più di un valore, li ritornano in tuples (che è sensato perchè in genere non si vuole che i risultati di una chiamata a una funzione vengano modificati.

### Indici in sequenze

##### Informazioni ulteriori

-   Introduzione a stringhe e indici [Python tutorial, section 3.1.2](http://docs.python.org/tutorial/introduction.html#strings), la sezione sull'uso degli indici inizia dopo che sono state introdotte le stringhe.

I singoli oggetti in una lista/stringa/tuple possono essere indicati con il loro indice fra parentesi quadre(`[` e `]`). Notate che Python (come in C ma diversamente dal Fortran e da Matlab) conta gli indici partendo da zero!

In [69]:
a = ['dog', 'cat', 'mouse']
a[0]

'dog'

In [70]:
a[1]

'cat'

In [71]:
a[2]

'mouse'

<img src="../Humour/FirstWord.jpg" width="500" align="center"/>

Python ha un modo semplice per estrarre l'ultimo elemento di una lista: si usa l'indice “-1”, dove il segno meno indica che l'elemento è a *un passo* dal fondo della lista. Nello stesso, l'indice “-2” ritorna il penultimo elemento (2nd last):

In [72]:
a = ['dog', 'cat', 'mouse']
a[-1]

'mouse'

In [73]:
a[-2]

'cat'

Si può anche pensare ad `a[-1]` come una abbreviazione di `a[len(a) - 1]`.

Ricordate che le stringhe (come le liste) sono delle sequenze e possono essere indicizzate nello stesso modo:

In [74]:
a = "Hello World!" 
a[0]

'H'

In [75]:
a[1]

'e'

In [76]:
a[10]

'd'

In [77]:
a[-1]

'!'

In [78]:
a[-2]

'd'

### Sezioni di sequenze

##### Informazioni ulteriori

-   Introduzione a stringhe, indici e sezioni [Python tutorial, section 3.1.2](http://docs.python.org/tutorial/introduction.html#strings)

*Slicing* di una sequenze può essere utilizzato per estrarre più di un elemento. Per esempio:

In [79]:
a = "Hello World!"
a[0:3]

'Hel'

Scrivendo `a[0:3]` richiediamo i primi 3 elementi iniziando dall'elemento 0. Analogamente:

In [80]:
a[1:4]

'ell'

In [81]:
a[0:2]

'He'

In [82]:
a[0:6]

'Hello '

Si possono usare indici negtivi per riferirsi alla fine della sequenza:

In [83]:
a[0:-1]

'Hello World'

È anche possibile omettere l'indice inziale o quello finale e questo restitusce tutti gli elementi a partire dall'inizio oppure fino alla fine della sequenza. Qualche esempio per chiarire:

In [1]:
a = "Hello World!"
a[:5]

'Hello'

In [85]:
a[5:]

' World!'

In [86]:
a[-2:]

'd!'

In [87]:
a[:]

'Hello World!'

Per invertire l'ordine degli elementi di una lista possiamo usare:

In [2]:
a[::-1]

'!dlroW olleH'

Notate che `a[:]` genera una *copia* di `a`. Il modo con cui vengono usati gli indici nello slicing può sembrare controintuitivo. Se vi trovate in difficoltà, ricordate questa spiegazione dal [Python tutorial (section 3.1.2)](http://docs.python.org/tutorial/introduction.html#strings):

> The best way to remember how slices work is to think of the indices as pointing between characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of 5 characters has index 5, for example:
>
>      0   1   2   3   4    <-- use for INDEXING 
>     -5  -4  -3  -2  -1    <-- use for INDEXING 
>      +---+---+---+---+---+           from the end
>      | H | e | l | l | o |
>      +---+---+---+---+---+ 
>      0   1   2   3   4   5   <-- use for SLICING
>     -5  -4  -3  -2  -1       <-- use for SLICING 
>                                      from the end
>
> The first row of numbers gives the position of the slicing indices 0...5 in the string; the second row gives the corresponding negative indices. The slice from i to j consists of all characters between the edges labelled i and j, respectively.

L'affermazione importante è che nello *slicing* gli indici puntano *fra* i caratteri o elementi.

Per *indicizzare* è preferibile pensare che gli indici si riferiscano direttamente agli elementi. 

Se non vi ricordate esattamente come funzionano gli indici, potete semplicemente sperimentare con un piccolo esempio usando il Python prompt prima o durante la scrittura del vostro programma.

La posizione di un elemento in qualunque oggetto di tipo sequenza può essere trovato con il *metodo* index:

In [2]:
(1,2,3).index(2)

1

Se l'elemento cercato non è presente si ha un errore:

In [4]:
[1,2,3].index(4)

ValueError: 4 is not in list

### Dizionari

I dizionari sono anche chiamati “associative arrays” o “hash tables”. I dizionari sono insiemi *unordered* di *key-value pairs*.

Un dizionario vuoto può essere creato usando parentesi graffe (curly braces):

In [88]:
d = {}

Coppie keyword-value possono essere aggiunti come segue:

In [89]:
d['today'] = '22 deg C'    # 'today' è la keyword

In [90]:
d['yesterday'] = '19 deg C'

`d.keys()` restituisce la lista di tutte le keys:

In [91]:
d.keys()

dict_keys(['yesterday', 'today'])

Il valore può essere estratto usando la keyword come indice:

In [92]:
d['today']

'22 deg C'

Altri modi di riempire un dizionario se i dati sono noti al momento in cui viene creato sono:

In [93]:
d2 = {2:4, 3:9, 4:16, 5:25}
d2

{2: 4, 3: 9, 4: 16, 5: 25}

In [94]:
d3 = dict(a=1, b=2, c=3)
d3

{'a': 1, 'b': 2, 'c': 3}

La funzione `dict()` crea un dizionario vuoto.

Altri metodi utili per i dizionari sono `values()`, `items()` e `get()`. Si può usare `in` per controllare se un certo valore è presente.

In [95]:
d.values()

dict_values(['19 deg C', '22 deg C'])

In [96]:
d.items()

dict_items([('yesterday', '19 deg C'), ('today', '22 deg C')])

In [97]:
d.get('today','unknown')

'22 deg C'

In [98]:
d.get('tomorrow','unknown')

'unknown'

In [99]:
'today' in d

True

In [100]:
'tomorrow' in d

False

Il metodo `get(key,default)` restituisce il valore corrispondente a una certa `key` se la key esiste, altrimenti restituisce l'oggetto di `default`.

Un esempio un po' più complicato:

In [101]:
order = {}        # create an empty dictionary

#add orders as they come in
order['Peter'] = 'Pint of bitter'
order['Paul'] = 'Half pint of Hoegarden'
order['Mary'] = 'Gin Tonic'

#deliver order at bar
for person in order.keys():
    print(person, "requests", order[person])

Peter requests Pint of bitter
Paul requests Half pint of Hoegarden
Mary requests Gin Tonic

Ulteriori dettagli:

-   La keyword può essere qualsiasi (immutable) oggetto in Python. Questo include:

    -   numeri

    -   stringhe

    -   tuples.

-   i dizionari restituiscono i valori molto velocemente quando viene loro fornita la key.

Un altro esempio per dimostrare il possibile vantaggio nell'uso di un dizionario piuttosto che una coppia di liste:

In [102]:
dic = {}                        #create empty dictionary

dic["Hans"]   = "room 1033"     #fill dictionary
dic["Andy C"] = "room 1031"     #"Andy C" is key
dic["Ken"]    = "room 1027"     #"room 1027" is value

for key in dic.keys():
    print(key, "works in", dic[key])

Andy C works in room 1031
Hans works in room 1033
Ken works in room 1027

Senza usare un dizionario:

In [103]:
people = ["Hans","Andy C","Ken"]
rooms  = ["room 1033","room 1031","room 1027"]

#possible inconsistency here since we have two lists
if not len( people ) == len( rooms ):
    raise RuntimeError("people and rooms differ in length")

for i in range( len( rooms ) ):
    print(people[i],"works in",rooms[i])

Hans works in room 1033
Andy C works in room 1031
Ken works in room 1027

Passare argomenti a una funzione in Python
---------------------------------
In Python, gli oggetti sono passati per referenza (tipo pointer) all'oggetto. A seconda di come la referenza viene usate nella funzione e del tipo di oggetto che viene referenziato, questo può significare che qualsiasi cambiamento all'oggetto passato, all'interno della funzione, si riflette immediatamente all'esterno.

Tre esempi per chiarire. Iniziamo passando una lista a una funzione che itera sugli elementi della sequenza raddoppiando il valore di ciascuno:

In [104]:
def double_the_values(l):
    print("in double_the_values: l = %s" % l)
    for i in range(len(l)):
        l[i] = l[i] * 2
    print("in double_the_values: changed l to l = %s" % l)

l_global = [0, 1, 2, 3, 10]
print("In main: s=%s" % l_global)
double_the_values(l_global)
print("In main: s=%s" % l_global)

In main: s=[0, 1, 2, 3, 10]
in double_the_values: l = [0, 1, 2, 3, 10]
in double_the_values: changed l to l = [0, 2, 4, 6, 20]
In main: s=[0, 2, 4, 6, 20]

La variabile `l` è una referenza all'oggetto lista. La linea `l[i] = l[i] * 2` calcola il membro di destra leggendo l'elemento di indice `i`e poi moltiplicandolo per due. Una referenza a questo nuovo oggetto viene immagazzinata
nell'oggetto lista `l` alla posizione di indice `i`. È stato quindi modificato l'oggestto lista, che è referenziato attraverso il nome `l`.

La referenza all'oggetto lista non cambia mai: la linea `l[i] = l[i] * 2` cambia l'elemento `l[i]` della lista `l` ma non cambia mai la referenza `l` per la lista. Quindi sia la funzione che il programma che la chiama operano sullo stesso oggetto, rispettivamente attraverso la referenza `l` e `global_l`.

Al contrario, nell'esempio seguente la lista globale non viene modificata
all'interno della funzione:

In [105]:
def double_the_list(l):
    print("in double_the_list: l = %s" % l)
    l = l + l
    print("in double_the_list: changed l to l = %s" % l)

l_global = "Hello"
print("In main: l=%s" % l_global)
double_the_list(l_global)
print("In main: l=%s" % l_global)

In main: l=Hello
in double_the_list: l = Hello
in double_the_list: changed l to l = HelloHello
In main: l=Hello

Quello che suucede in questo caso è che durante la valutazione di `l = l + l` viene creato un nuovo oggetto che contiene `l + l`, a cui successivamente legato il nome `l`. In questo processo, si perde la referenza all'oggetto lista `l` che è stato passato alla funzione che quindi non viene modificata.

Infine, vediamo che output produce il programma che segue:

In [106]:
def double_the_value(l):
    print("in double_the_value: l = %s" % l)
    l = 2 * l
    print("in double_the_values: changed l to l = %s" % l)

l_global = 42
print("In main: s=%s" % l_global)
double_the_value(l_global)
print("In main: s=%s" % l_global)

In main: s=42
in double_the_value: l = 42
in double_the_values: changed l to l = 84
In main: s=42

Anche in questo esempio, raddoppiamo il valore (da 42 a 84) all'interno della funzione. Tuttavia, quando colleghiamo l'oggetto 84 al nome python `l` (nella riga `l = l * 2`) abbiamo creato un nuovo oggetto (84), e poi leghiamo il nuovo oggetto a `l`. Nuovamente, In questo processo, si perde la referenza all'oggetto 42 all'interno della funzione. Questo non modifica l'oggetto 42 itself, né la sua referenza `l_global`.

In conclusione, il comportamento di Python per quanto riguarda gli argomenti passati a una funzione può sembrare diverso nei vari casi. Tuttavia, si tratta sempre di chiamata per referenza e il comportamento può essere spiegato
in ogni caso con lo stesso ragionamento.

Copia di oggetti
-----------------
Python fornisce la  funzione `id()`  che restituisce un numero che identifica in modo unico un oggetto, essenzialmente l'indirizzo in memoria. Possiamo utilizzare questo identificatore per verificare se due oggeti sono identici.

In [1]:
m = 2
print('id(m) = {}'.format(id(m)))

id(m) = 4467279104

Quando eseguiamo il comando `n = m`, la variabile `n` punta alla stessa posizione di memoria:

In [2]:
n = m
print('id(n) = {}'.format(id(n)))

id(n) = 4467279104

In Python, i numeri, le ntuple, le stringhe sono "immutabili" cioè non possono essere modificati senza crare una nuova copia dell'oggetto.<br>
Se cambiamo il valore di n cambia anche la posizione in memoria:

In [3]:
n += 1
print('n = {}'.format(n))
print('id(n) = {}'.format(id(n)))

n = 3
id(n) = 4467279136

L'indirizzo che è immagazzinato nella variabile m, invece, non cambia:

In [4]:
print('m = {}'.format(m))
print('id(m) = {}'.format(id(m)))

m = 2
id(m) = 4467279104

Per copiare una sequenza di oggetti (incluse le liste), possiamo usare lo slicing. Se `a` è una lista, allora `a[:]` restituisce una copia di `a`. Qualche esempio:

In [5]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
b = a           # shallow copy. b punta allo stesso oggetto a cui punta a
b[0] = 42
a               # cambiare b cambia anche a

[42, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
id(a)

4518211208

In [8]:
id(b)

4518211208

In [9]:
id(b[0])

4467280384

In [112]:
c = a[:] 
id(c)          # c è un oggetto diverso

4401074568

In [113]:
c[0] = 100       
a              # cambiare b non cambia a

[42, 1, 2, 3, 4, 5, 6, 7, 8, 9]

La standard library di Python fornisce il modulo `copy`, che contiene funzioni che possono essere utilizzate per creare copie di oggetti. Avremmo potuto usare `import copy; c = copy.deepcopy(a)` invece di `c = a[:]`.

Uguaglianza e identità
--------------------------

### Uguaglianza

Gli operatori `<`, `>`, `==`, `>=`, `<=`, e `!=` confontano il *valore* di due oggetti. Non è necessario che i due oggetti siano dello stesso tipo. Per esempio:

In [114]:
a = 1.0; b = 1
type(a)

float

In [115]:
type(b)

int

In [116]:
a == b

True

Quindi l'operatore `==` controlla se i valori di due oggetti sono uguali.

### Identità

Per verificare se due oggetti `a` e `b` sono lo stesso oggetto (cioè se `a` e `b` puntano alla stessa locazione di memoria), possiamo usare l'operatore `is`.  Continuando l'esempio precedente:

In [117]:
a is b

False

Ovviamente i due oggetti sono diversi, dal momento che non sono dello stesso tipo.

Possiamo anche usare la funzione `id` che, secondo la documentazione di Python 2.7 “*Returns the identity of an object. This is guaranteed to be unique among simultaneously existing objects. (Hint: it’s the object’s memory address.)*”

In [118]:
id(a)

4400776752

In [119]:
id(b)

4297331648

che mostra che a `a` e `b` sono situti in posti diversi di memoria.

### Esempio: uguaglianza e identità

Chiudiamo con un esempio relativo alle liste:

In [ ]:
x = [0, 1, 2]
y = x
x == y

In [121]:
x is y

True

In [122]:
id(x)

4400763208

In [123]:
id(y)

4400763208

In questo caso, `x` e `y` si riferiscono allo stesso spazio di memoria, quindi sono identici e l'operatore `is` lo conferma. Il punto da ricordare è che l'istruzione (`y = x`) crea una nuova referenza `y` allo stesso oggetto lista a cui si riferisce `x`.

Di conseguenza, se cambiamo un elemento di `x`, anche `y` cambia nello stesso modo, visto che sia `x` che `y` si riferiscono allo stesso oggetto:

In [124]:
x

[0, 1, 2]

In [125]:
y

[0, 1, 2]

In [126]:
x is y

True

In [ ]:
x[0] = 100
x

In [128]:
y

[100, 1, 2]

Al contraio, se usiamo `z = x[:]` (invece di `z = x`) per creare una nuova variabile `z`, l'operazione di slicing `x[:]` crea una copia separata della lista `x`, e la nuova referenza `z` punterà alla copia. I *valori* di `x` e `z` sono uguali, ma `x` e `z` non sono lo stesso oggetto (non sono identici):

In [129]:
x

[100, 1, 2]

In [130]:
z = x[:]            # crea una copia di x prima di assegnarla a z
z == x              # stesso valore

True

In [131]:
z is x              # non sono lo stesso oggetto

False

In [132]:
id(z)               # id lo conferma

4400927624

In [133]:
id(x)

4400763208

In [134]:
x

[100, 1, 2]

In [135]:
z

[100, 1, 2]

Di conseguenza, possiamo cambiare `x` senza modificare `z`. Per esempio:

In [136]:
x[0] = 42
x

[42, 1, 2]

In [137]:
z

[100, 1, 2]

<img src="../Humour/Novice_vs_Experienced_Programmer.jpg" width="300" align="center"/>